.rc-tabs-ink-bar {
    background-color: transparent;
}

.rc-tabs-tab {
    padding: 0;
}

.rc-tabs-bottom {
    border-top: 0;
}

.rc-tabs-bottom .rc-tabs-bar {
    border-top: 0;
}

.rc-tabs-bottom .rc-tabs-nav-swipe .rc-tabs-nav .rc-tabs-tab {
    padding: 0;
}
